<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore env:require="Dev">
    <sites>
      <site name="jssrocks"
            hostName="jssaftokens.sitecore"
            database="master" />
    </sites>
    <javaScriptServices>
      <apps>
        <app name="jssrocks"
             deploymentSecret="peknk837xk37m9vo3zi5ukt6ayesae6ds13n0v6vg"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
