<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <group groupName="javaScriptServices">
        <pipelines>
          <import>
            <processor type="CoreySmith.Feature.Forms.Pipelines.JavaScriptServices.Import.ProcessRenderingsWithAntiForgeryToken, CoreySmith.Feature.Forms"
                       patch:after="processor[@type='Sitecore.JavaScriptServices.AppServices.Pipelines.Import.ProcessRenderings, Sitecore.JavaScriptServices.AppServices']" />
          </import>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
