<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="CoreySmith.Feature.Forms.FormsConfigurator, CoreySmith.Feature.Forms" />
    </services>
    <settings>
      <!-- Set to false to use MVC controller to process form. -->
      <setting name="CoreySmith.Feature.Forms.UseWebApi" value="true" />
    </settings>
    <pipelines>
      <initialize>
        <processor type="CoreySmith.Feature.Forms.Pipelines.Initialize.RegisterJssRocksRoutes, CoreySmith.Feature.Forms"
                   resolve="true" />
        <processor type="CoreySmith.Feature.Forms.Pipelines.Initialize.RegisterJssRocksWebApiRoutes, CoreySmith.Feature.Forms"
                   resolve="true" />
      </initialize>
      <group groupName="layoutService">
        <pipelines>
          <transformPlaceholderElement>
            <processor type="CoreySmith.Feature.Forms.Pipelines.LayoutService.TransformPlaceholderElement.AddAntiForgeryToken, CoreySmith.Feature.Forms">
              <allowedConfigurations hint="list">
                <config desc="jss">jss</config>
              </allowedConfigurations>
            </processor>
          </transformPlaceholderElement>
        </pipelines>
      </group>
      <group groupName="javaScriptServices">
        <pipelines>
          <import>
            <processor type="CoreySmith.Feature.Forms.Pipelines.JavaScriptServices.Import.ProcessRenderingsWithAntiForgeryToken, CoreySmith.Feature.Forms"
                       patch:after="processor[@type='Sitecore.JavaScriptServices.AppServices.Pipelines.Import.ProcessRenderings, Sitecore.JavaScriptServices.AppServices']" />
          </import>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
