<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Forms"
                       description="Forms feature items"
                       extends="Helix.Feature">
          <predicate>
            <include name="JsonRendering.LayoutServiceSection" database="master" path="/sitecore/templates/Foundation/JavaScript Services/Json Rendering/Anti-forgery Token" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
